@model EducaLivros.Models.Usuario


@{
    ViewData["Title"] = "Início";
}

<h1>Home do usuário logado</h1>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
